html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    background: url(../images/bg-2.png);
    background-size: cover;
    background-position: center bottom;
}

#balloon {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 500px;
    max-height: 60%;
    max-width: 20%;
    transform-origin: bottom center;
    transition: all ease-out .4s;
}

.balloon--top {
    background-image: url(../images/balloon.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
}

.balloon--line {
    border: solid 1px black;
    border-width: 0 0 0 1px;
    width: 3px;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 8;
    border-radius: 50%;
    transition: width linear .2s;
}

[data-moving='left'] .balloon--line {
    border-width: 0 1px 0 0;
    transform-origin: bottom right;
    right: 50%;
    left: auto;
}
[data-moving='right'] .balloon--line {
    transform-origin: bottom left;
}


.author {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, .2);
}

.author a {
    color: white;
}